<section class=" about">
    <div class="container">
        <div class="grid-2">
            <div class="about-img">
                <img src="/img/Social Impact Projects Icon.png" alt="">
            </div>
            <div class="all-center about-text">
                <div id="about"></div>
                <p>Flamedge is a full-service digital agency birthed out of Passion to serve the interest of
                    individuals, groups and corporate business brands ... </p>
                <a href="/about" class="btn text-red  round-btn my-1">Read More</a>
            </div>
        </div>
    </div>
</section>