<section id="book">
    <div class="container">
        {{> _alerts}}
        <div class="grid-2">
            <form action="/booking" method="post">


                <label for="name">Name</label>
                <div class="">
                    <input type="text" name="firstname" placeholder="Firstname" required>

                </div>
                <div class="">

                    <input type="text" name="lastname" placeholder="Lastname">
                </div>
                <label for="email">Email</label>
                <div class="">
                    <input type="email" name="email" placeholder="Enter Email" required>
                </div>
                <label for="contact">Contact</label>
                <div class="">
                    <input type="tel" name="contact" placeholder="Enter Telephone number" required>
                </div>
                <label for="work">What would you like us to do for you?</label>

                <div class=" my-1">
                    <select name="work" id="work" class="text-grey">
                        <option value="" disabled selected>Select work category</option>
                        <option value="graphic design">Graphic Design</option>
                        <option value="web development">Web Development</option>
                        <option value="photography">Photography</option>
                    </select>
                </div>
                <p class="text-red">* Something else? let us know.</p>
                <div class="my-1">
                    <textarea name="other" cols="10" rows="3" placeholder="We're here for you"></textarea>
                </div>
                <label for="expectations">What do you expect from us?</label>
                <div class=" my-1">
                    <textarea name="expectations" id="" cols="20" rows="10" placeholder="Your Expections?"></textarea>
                </div>

                <div class="">
                    <input type="submit" class="btn btn-block " style="background: red;color:#fff" value="Talk to us">
                </div>
            </form>
        </div>

    </div>
</section>