<nav class="navbar-sticky bg-white">
    <a href="/">
        <h1>FLAMEDGE</h1>
    </a>
    <ul class="dark-text navbar-ul">
        <li><a href="/about">About </a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
            <a href="/book" class="" style="color: red;">Book</a>
        </li>
    </ul>
</nav>