<div class="grid-2">

    <div class="our-team-text all-center">
        <div id="our-work"></div>
        Our digital services include Graphic design, Photography &amp; Videography, Motion Graphics, Web &amp; Mobile
        App
        development, and Digital Marketing.
    </div>
    <div class="our-team-image hide-sm">
        <img src="/img/showcase-image.png" alt="">
    </div>
</div>
</section>