<section class="our-history">

    <div class="grid-2">
        <div class="our-history-text all-center">
            <div id="our-history"></div>
            Flamedge is a full-service digital agency birthed out of Passion to serve the interest of individuals,
            groups and corporate business brands through creative designs and other digital works.
        </div>
        <div class="our-history-image hide-sm">
            <img src="/img/showcase-image.png" alt="">
        </div>
    </div>
</section>