<section class="bg-dark my-3">
    <div class="">
        <div class="grid-2 all-center ">
            <div class="our-impact bg-dark p-2 ">
                <div class="container">
                    <h2 class="large" style="color: #f1f1f1;">Our Impact</h2>
                    <p>We also embark on social impact projects to give back to our society. When we identify a problem
                        (or a need) in our society, we bring together our unique abilities and creative skills to find
                        feasible solutions to the problem, thereby creating a better world for us all.
                    </p>
                </div>
            </div>
            <div class=" p-2" style="background-color: red;">
                <div class="container">
                    <h2 class=""><i> From our Chief..</i></h2>
                    <q class="">
                        With our digital services, you can trust us today and laugh with us tomorrow
                    </q>
                </div>

            </div>
        </div>
    </div>
</section>