<div class="grid-2">

    <div class="our-team-text all-center">
        <div id="our-team"></div>
        Our team of young passionate, energetic, friendly, creative and reliable enthusiasts work untiringly in a
        flexible working environment to meet every deadline. We deliver industry standard and quality digital
        services with customer satisfaction as our priority and social impact as our core value.
    </div>
    <div class="our-team-image hide-sm">
        <img src="/img/showcase-image.png" alt="">
    </div>

</div>
</section>