<div id="services"></div>
<section class="services">
    <div class="grid-3">
        <div class="all-center card hoverable">
            <div class="services-img">
                <img src="/img/Graphic Design Icon.png">
            </div>
            <h2>Graphic Design</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, illo?</p>
        </div>
        <div class="all-center card hoverable">
            <div class="services-img">
                <img src="/img/Photography Icon.png" alt="">
            </div>
            <h2>Photograpy</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, illo?</p>
        </div>
        <div class="all-center card hoverable">
            <div class="services-img">
                <img src="/img/Web Development Icon.png" alt="">
            </div>
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, illo?</p>
        </div>
        <div class="all-center ">
            <a href="/services" class="btn round-btn hoverable">View More</a>
        </div>
    </div>
</section>