<style>
    .content {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        padding: 1rem;
        border: 1px #ccc solid;
        border-radius: 5px;

    }

    .header {
        color: red;
    }

    @media (max-width: 700px) {
        .content {
            display: block;

        }

        .content img {
            width: 100px;
            height: 100px;
        }
    }
</style>

<section class="my-3 ">
    <div class="container">
        <div class="grid-2">
            <div class="content hoverable">
                <div class="all-center ">
                    <img src="/img/Graphic Design Icon.png" alt="">
                </div>
                <div class="content-texts">
                    <h1 class="header">GRAPHIC DESIGN</h1>
                    When it comes to graphics, you imagine it, we create it. You dream it, we bring it to light. Our
                    designs are visually appealing and move people or your customers to action. We design catchy Flyers,
                    Banners, Stickers, Brochures, Logos, T-shirt mock-ups, Business cards and many more. We work on
                    Motion Graphics as well.
                </div>
            </div>
            <div class="content hoverable">
                <div class="all-center ">
                    <img src="/img/Social Impact Projects Icon.png" alt="">
                </div>
                <div class="content-texts">
                    <h1 class="header">SOCIAL IMPACT PROJECTS</h1>
                    We all have a unique role to play in the lives of people and the planet. As our Corporate Social
                    Responsibility, we embark on digital skills training projects that seeks to promote the United
                    Nations Sustainable Development Goals (SDGs).
                </div>
            </div>
            <div class="content hoverable">
                <div class="all-center ">
                    <img src="/img/Photography Icon.png" alt="">
                </div>
                <div class="content-texts">
                    <h1 class="header">VIDEO &amp; PHOTOGRAPHY</h1>
                    Good memories are worth saving. And with us, we give you elegant shoots and footage of all that
                    matters to you. Birthday parties, Weddings, Funerals, Pool parties, Graduations and other events.
                </div>
            </div>

            <div class="content hoverable">
                <div class="all-center ">
                    <img src="/img/Web Development Icon.png" alt="">
                </div>
                <div class="content-texts">
                    <h3 class="header">WEB &amp; MOBILE APP DEVELOPMENT</h3>
                    With us, every line of code matter. We build mobile friendly, responsive solutions that meets your
                    personal, professional or business goals while paying keen attention to the beauty in those lines of
                    codes. It sounds interesting right? Yeah... We also keep track of modern and emerging technologies
                    and integrate them into our solutions for awesome user experience.
                </div>
            </div>
            <div class="content hoverable">
                <div class="all-center ">
                    <img src="/img/Digital Marketing Icon.png" alt="">
                </div>
                <div class="content-texts">
                    <h1 class="header">DIGITAL MARKETING</h1>
                    We have you in mind at every step of your business journey. It is our outmost pleasure to be part of
                    your success story right from the beginning where you go through hard times, working hard for a
                    breakthrough. We know how it feels like. That is why our digital marketing services are tailored to
                    meet your online goals effectively.
                </div>
            </div>

        </div>
    </div>
</section>