<header id="showcase">
    <div class="container">
        <div class="all-center showcase-container">
            <div class=" showcase-content">
                <div class="showcase-image">
                    <img src="/img/showcase-image.png" alt="">
                </div>
                <div class="showcase-text">
                    <h1 class="capitalize">Connecting ideas, building solutions through creativity and passion.</h1>
                    <a href="/book" class="btn btn-light">Book Us Now</a>
                </div>
            </div>
        </div>
    </div>
</header>