<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flamedge | About Us</title>
</head>

<body>
    {{> _about-showcase}}
    <div class="container">
        {{> _our-history}}
        {{> _our-team}}
        {{> _our-work}}
    </div>
    {{> _our-impact}}


</body>

</html>