<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAMEDGE | Contact Us</title>
</head>
<style>
    .fa-3x {

        margin-bottom: 0.5rem;
    }

    h3 {
        color: red;
    }

    p a {
        color: #333;
        font-weight: 700;
    }
</style>

<body>
    {{> _contact-us-showcase}}
    <div class="container">
        <div class=" my-3 center text-center">
            <div class="large">
                <h4 class="uppercase">We are open to all <span style="color: red;"> suggestions from our
                        audience..</span>
                </h4>
            </div>
            <div class="description text-center my-1" style="font-size: 1.3rem;">
                <p>We believe what our audience say about us makes an impact on our company. Our audience, more like a
                    family, makes us better day in day out. How? <span style="font-weight:700">
                        Their Suggesstions
                    </span></p>
            </div>
        </div>
        <div class="my-3">
            <div class="grid-3">
                <div class="hoverable p-1">
                    <i class="fas fa-map-marker-alt fa-3x"></i>
                    <h3>Location</h3>
                    <p>Ring road,KNUST,Kumasi GH.</p>
                </div>
                <div class=" hoverable p-1">
                    <i class="fas fa-phone fa-3x"></i>
                    <h3>Phone Lines</h3>
                    <p><a href="tel:02000000">02000000000000</a>
                        <div class="divider"></div>
                        <a href="tel:02000000">02000000000000</a>
                    </p>
                </div>
                <div class=" hoverable p-1">
                    <i class="fas fa-envelope fa-3x"></i>
                    <h3>E-mail</h3>
                    <p><a href="mailto:" class="text-dark">flamegemedia@gmail.com</a></p>
                </div>
            </div>
        </div>




    </div>

</body>

</html>