<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.34.4/maps/maps.css'>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <title>Document</title>
</head>

<body>
    {{> _showcase}}

    <div class="container">
        {{> _about}}
        {{> _services}}
        <div id="contact"></div>
    </div>
    {{> _contact}}



    <script src="/js/main.js"></script>
</body>

</html>