<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAMEDGE | HOME</title>
</head>

<body>
    {{> _showcase}}

    <div class="container">
        {{> _about}}
        {{> _services}}
        <div id="contact"></div>
    </div>
    {{> _contact}}



    <script src="/js/main.js"></script>
</body>

</html>